<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="cs_ManagementRestaurant" connectionString="Data Source=200.98.200.39,1433\SQLEXPRESS;Initial Catalog=DB_RestaurantManagementSystem;Integrated Security=False;Persist Security Info=True;User ID=Conexao;Password=JML123_;Encrypt=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <sessionState timeout="240"/>
  </system.web>
</configuration>